{% extends "main.html" %}
{%block contents %}

<div class="bgPinkLighten4">
<table class="table table-bordered">
    <tbody>
        <tr>
            <td class="text-center">{{result.time|formatdatetime}}</td>
        </tr>
        <tr>
            <td class="text-center">{{result.title}}</td>
        </tr>
        <tr>
            <td class="text-center">{{result.keyw}}</td>
        </tr>
        <tr>
            <td><div style="min-height:300px;">{%autoescape false %}{{result.contents}}{% endautoescape%}</div></td>
        </tr>
        
    </tbody>
</table>

<div class ="text-center">
<a class = "btn btn-primary btn-sm" href ="{{url_for('board.lists',page=page)}}">go_back</a>
<p></p>
{% if session["id"] == result.writer_id %}
<a class = "btn btn-danger" href = "{{url_for('board.board_delete',idx=result.id)}}">삭제</a>
<a class = "btn btn-success" href = "{{url_for('board.board_edit',idx=result.id)}}">수정</a>
{% endif %}

</div>

</div>
{% endblock %}